# Folder Node.js
node_modules/
# Folder Python Environment
venv/
python_venv/
__pycache__/
# Data Memori Aplikasi
memory/
# Folder Database SQLite
database/
# env
env
.env
# mio_workspace
mio_workspace/
# WhatsApp session files
Wa_session/
storage/
logs/