# ==============================================================================
# HaloMio Monorepo - Global Configuration Template
# ==============================================================================

# Backend API Key (Shared Secret)
MIO_API_KEY=mio_sec_your_secret_key_here

# Backend Service Port
PORT=3000

# Frontend Dev Port (Vite)
VITE_PORT=5173

# Frontend API Target (digunakan untuk komunikasi ke Backend Server)
VITE_MIO_API_KEY=mio_sec_your_secret_key_here
VITE_API_BASE_URL=http://localhost:3000
